/* Base Application Styles */
@import './Variables.scss';
html {
	height: 100%;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: $primaryTextColor;
}
#app {
	height: 100%;
}

.index {
  display: flex;
  height: 100%;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
