@import './Variables.scss';
.goodCSS{
        flex: 0;
         min-height: 6px;
         max-height: 6px;
         font-size: 14px;
         min-width: 21%;
         background-color: rgba(255, 255, 255, 0.7);
         text-align: left;
         padding: 8px;

}


.trCSS{
  margin-left:20px;
}


#count {
    opacity: 0.0;
}
#hover {
}
#hover:hover + #count {
    opacity: 1.0;
}




.borderCSS{
        flex: 0;
         min-height: 6px;
         max-height: 6px;
         font-size: 14px;
         min-width: 95px;
         background-color: white;
         text-align: left;
         padding: 8px;
         border: 1px solid;
}


.tCSS{
   	color: $primaryTextColor;
    font-size:14px;
    
}
